<mat-card>
  <mat-card-header>
    <mat-card-title>&#64;if</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    upload xlsx<input type="file" (change)="onFileChange($event)" multiple="false" />
    <!-- before -->
    <div *ngIf="show; else anonymousUser">I'm here</div>
    <ng-template #anonymousUser>
      I'm there
    </ng-template>
    <!-- after -->
    @if(show) {
    <div>I'm here</div>
    } @else {
    <div>I'm there</div>
    }
    <button mat-stroked-button (click)="show = !show">Toggle</button>
  </mat-card-content>
</mat-card>
<br><br>

<mat-card>
  <mat-card-header>
    <mat-card-title>&#64;for</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <!-- before -->
      <ng-container *ngFor="let item of items;">
        <item [id]="item.id"></item>
      </ng-container>
      <!-- after -->
      @for (item of items; track item.id) {
      <item [id]="item.id" />
      } @empty {
        Empty list of item
      }
    </ul>
  </mat-card-content>
</mat-card><br><br>

<mat-card>
  <mat-card-header>
    <mat-card-title>&#64;switch</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    Item:
    <!-- before -->
    
    <ng-container [ngSwitch]="index">
      <span *ngSwitchCase="0">{{items[0].label}}</span>
      <span *ngSwitchCase="1">{{items[1].label}}</span>
      <span *ngSwitchDefault>Overflow</span>
    </ng-container>
    <!-- after -->
    <br>
    Item:
    @switch (index) {

    @case (0) {
    <span>{{items[0].label}}</span>
    }
    @case (1) {
    <span>{{items[1].label}}</span>
    }
    @default{
    <span>Overflow</span>
    }
    }
    <div><button mat-stroked-button (click)="index = (index+1)%items.length">Next</button></div>
  </mat-card-content>
</mat-card><br><br>

<mat-card>
  <mat-card-header>
    <mat-card-title>&#64;Defer </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4>On immediate</h4>

    @defer (on viewport) {
      <example/>
    } @loading {
      Loading…
    } @error {
      Loading failed :(
    } @placeholder {
      <div>this is placeholder</div>
    }


    @defer (on immediate) {
    <foo />
    }


    <h4>On interaction(button)</h4>
    {{message}}
    @defer (on interaction(button)) {
    World
    }
    <div><button mat-stroked-button #button>Click me</button></div>
    
    <br><mat-divider />
    <h3>On Hover</h3>
    {{message}}
    @defer (on hover(button2)) {
    World
    }
    <div><button mat-stroked-button #button2>Hover me</button></div>

    <br><mat-divider />
    <h3>On Timer (5s)</h3>
    <div>
      {{message}}
      @defer (on timer(5s)) { World }
    </div>

    <br><mat-divider />
    <h3>On Viewport</h3>
    <div #trigger>
      @defer (on viewport(trigger)) {
      <viewport-lazy />
      }
    </div>


    <br><mat-divider />
    <h3>Placeholder</h3>
    @defer (when false) {
    <button>test</button>
    } @placeholder (minimum 2s) {
    *** PLACEHOLDER **
    }
  </mat-card-content>
</mat-card>